<div ng-include="'views/partials/register.header.html'"></div>
<div class="container">
  <div
    layout="column"
    ng-cloak
    class="md-inline-form"
    layout-align="center center"
  >
    <md-content layout-padding>
      <div>
        <form name="userForm" class="userForm fishForm editCatchForm">
          <h3 class="editFormTitle">Register User</h3>
          <hr />
          <h2
            class="lead alert alert-danger"
            role="alert"
            ng-if="vm.message != ''"
          >
            {{ vm.message }}
          </h2>
          <div>
            <div layout-gt-sm="row">
              <md-input-container
                class="md-block"
                dividerColor="primary"
                flex-gt-sm
                required
              >
                <label class="editLabel">Username</label>
                <input ng-model="vm.user.username" />
              </md-input-container>
              <md-input-container
                class="md-block"
                dividerColor="primary"
                flex-gt-sm
                required
              >
                <label class="editLabel">Password</label>
                <input ng-model="vm.user.password" type="password" />
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm required>
                <label class="editLabel">First name</label>
                <input ng-model="vm.user.first_name" />
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm required>
                <label class="editLabel">Last name</label>
                <input ng-model="vm.user.last_name" />
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm required>
                <label class="editLabel">City</label>
                <input ng-model="vm.user.city" />
              </md-input-container>
              <md-input-container
                class="md-block"
                flex-gt-sm
                ng-minlength="2"
                ng-maxlength="2"
                required
              >
                <label class="editLabel">State</label>
                <input ng-model="vm.user.state" md-maxlength="2" />
                <div ng-messages="userForm.name.$error">
                  <p ng-message="minlength">Use 2 letter state abbreviation</p>
                  <p ng-message="maxlength">Use 2 letter state abbreviation</p>
                  <p ng-message="required">State is required</p>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row" layout-align="center center">
              <a ng-href="#!user">
                <md-button
                  class="md-raised md-accent editButtons btnSaveCatchEdit"
                  ng-click="vm.registerUser()"
                >
                  Register
                </md-button>
              </a>
              <md-button
                class="md-raised md-accent editButtons btnCancelCatchEdit"
                ng-click=""
              >
                <a href="#!user">Cancel</a>
              </md-button>
            </div>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</div>
